<form action="/basic" method="GET" enctype="multipart/form-data">
    <input type="hidden" name="secret" value="super secret!">
    <div class="mb-3">
        <label class="form-label" for="fieldColor">Your favorite color: </label>
        <input class="form-control" type="text" name="color"id="fieldColor"value="">
    </div>
   <div class="mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>