<section class="hero">
    <h2>Explore Beautiful Destinations</h2>
</section>

<section class="gallery">
    {{#each gallery}}
        <img src="{{this.image}}" alt="{{this.name}}">
    {{/each}}
</section>
